.root {

    -fx-background-color: #232323;

}

.label {

    -fx-text-fill: #7a8080;

}

.tab-pane {
    -fx-background-color: #232323;


}

.tab-pane .tab {
    -fx-background-color: #4b4b4b;

}

.tab-pane .tab:selected {
    -fx-background-color: #5b5b5b;
    -fx-text-fill: #f0f5f5;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #848989;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #b8bfbf;
}

.button {

    -fx-text-fill: #7a8080;
    -fx-background-color: #414548;
}

.combo-box {

    -fx-text-fill: #7a8080;
    -fx-background-color: #484848;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #3b3b48;
}
.tree-view .tree-cell{
    -fx-text-fill: #7a8080;
    -fx-background-color: #484848;

}
.tree-view {
    -fx-border-style: none;
    -fx-background-color: #484848;
}
.code-area {

    -fx-background-color: #363636;

}

.text-area {
    text-area-background: #5c5c5c;
    -fx-text-fill: #7a8080;

    -fx-border-style: none;
    -fx-background-color: #5c5c5c;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.list-cell {

    -fx-text-fill: #7a8080;
    -fx-background-color: #484848;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #3b3b48;
    -fx-text-fill: white;
}

.list-view {

    -fx-text-fill: #7a8080;
    -fx-background-color: #484848;
}
.table-view{
    -fx-background-color: #484848;
}
.table-view .column-header-background {
    -fx-background-color: #232323;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #7a8080;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.menu-bar {

    -fx-background-color: #3b3b48;

}

.text-field {

    -fx-background-color: #343434;
    -fx-text-fill: #7a8080;
}
